.container {
    max-width:1200px;
    margin:20px auto;
    position: relative;
}

html {
    font-size: 16px;
}

*{
    box-sizing:border-box;
}

.flex {
    display: flex;
}
.flex-column{
    flex-direction: column;
}

.w-1\/3 {
    width:33.33%
}
.p-5 {
    padding:5px 5px;
}

.toolbar{
    margin-bottom:25px;

}

button{
    min-width:200px;
    height:50px;
    border:none;
    background:blue;
    color:#fff;
    font-size:1.2rem;
    border-radius:5%;
    cursor: pointer;
}


/* Hide the modal by default */
#modal {
    display: block;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.4);
}

/* Style the modal content */

  #modal-content{
    margin:10% auto;
    padding: 20px;
    /* width: 80%; */
    max-width: 600px;
    background:#fff;
  }

  /* Style the close button */
.close-modal {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Style the open button */
  #open-modal {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .modal-head {

  }

